<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>idbsL - Projetos</title>
   

   
    <link rel="stylesheet" href="/front-end/styles/homepage_style.css">
    <link rel="stylesheet" href="/front-end/styles/colors.css">

    <link rel="stylesheet" href="/front-end/styles/projects-style.css">
</head>
<body>
    <header>
        <a class="logo-header" href="/front-end/templates/index.html"><img class="header-logo" src="/front-end/img/logo-2.png" alt=""></a> 
    <nav>
            <ul class="nav-items">
                <a  href="/front-end/templates/about.html">Quem somos</a>
                <a  href="/front-end/templates/cultos.html">Cultos</a>
                <a  href="/front-end/templates/projects.html">Projetos</a>

            </ul>        
    </nav>
    <a class="nav-item" href="/front-end/templates/contact.html"><button>Contato</button></a>
</header>
    <section>
        <div class="box_1">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum deleniti adipisci corporis doloribus blanditiis non sint dignissimos. Laudantium laboriosam unde culpa vel deleniti! Tempora rem dolorem nostrum facere dolore odio.</p>
            <img class="img-projects" src="/front-end/img/background.jpg" alt="">


        </div>
        <div class="box_2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore tenetur pariatur provident porro. Itaque at iste debitis unde quia similique suscipit, assumenda error, cum minus nemo, odio nobis tempora sequi?</p>    
            <img src="/front-end/img/vitoria.jpg" alt="">
        </div>
    </section>
    
</body>
</html>