@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: 16px 'Montserrat', sans-serif;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-3);
}

li, a, button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: var(--color-1);
    text-decoration: none;
    margin: 12px;
}

header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


}


.header-logo{
    display: block;
    width: 60%;
    max-width: 25rem;
}

.header-logo:hover{
    transition: all 0.3s ease 0s;
    opacity: 0.5;
    cursor: pointer;
}

.nav-items a{
    display: inline-block;
    padding: 0 20px;
}

.nav-items a{
    transition: all 0.3s ease 0s;   
}

.nav-items a:hover{
    color:  var(--color-2);
}

button {
    background-color: var(--color-1);
    color: var(--color-3);
    border: none;
    padding: 10px 20px;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s ease 0s;   
}

button:hover{
    background-color: var(--color-2);
}



section {
    position: relative;
    top: 12rem;
    background-color: var(--color-4);
    box-sizing: border-box;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 0 10%; 
    flex: 1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color:  none;

}

.container-img, .container-video{
    margin: 10px;
    object-fit: cover;
    height: 600px;
    width: 600px;
    min-width: max-content;
    background-color: var(--color-4);
}

ul {
    background-color: var(--color-4);
    opacity: 3;
}

li {
    background-color: var(--color-4);
    opacity: 3;
}

.slick-list {
    background-color: var(--color-4);
    opacity: 3;

}

.slick-track {
    background-color: var(--color-4);
    opacity: 3;

}

div{
    background-color: var(--color-4);
    opacity: 3;
}

.nav-items{
    list-style: none;
    background-color: var(--color-3);
}

p   {
    background-color: var(--color-4);
    color: var(--color-1);
    font-size: 20px;
    padding: 20px;
}

.Idb_titulo{
   font-weight: 700;
   font-size: 5rem;
}

.box_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.img-logo{
    width: 16rem;
}

.img-logo-button{
    margin: 0px 0px;
    padding: 0px 0px;
    border: none;
    border-radius: 40px;
    background-color: white;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
}
.img-logo-button:hover{
    opacity: 0.7;
    margin: 0px 0px;
    padding: 0px 0px;
    border: none;
    border-radius: 40px;
    background-color: white;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
}

footer{
    position: relative;
    top: 90rem;
    height:fit-content;
   
    background-color: var(--color-2);
    padding: 20px 0;
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;

}

.social_buttons{

    background-color: var(--color-2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px;
}

